#root {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 600px) {
        margin: 0 16px;
        width: calc(100% - 32px);
    }

    @media (min-width: 600px) and (max-width: 904px) {
        margin: 0 32px;
        width: calc(100% - 64px);
    }

    @media (min-width: 904px) and (max-width: 1240px) {
        margin: 0 auto;
        width: 840px;
    }

    @media (min-width: 1240px) and (max-width: 1440px) {
        margin: 0 200px;
        width: calc(100% - 400px);
    }

    @media (min-width: 1440px) {
        margin: 0 auto;
        width: 1040px;
    }
}