.dark .progression {
    color: #bb86fc;
    font-weight: bold;
}

.light .progression {
    color: #6200ee;
    font-weight: bold;
}

.dark .useful {
    color: #5C6BC0;
    font-weight: bold;
}

.light .useful {
    color: #3949AB;
    font-weight: bold;
}

.progression.useful {
    color: #FBC02D;
}

.dark .filler {
    color: #03dac6;
    font-weight: bold;
}

.light .filler {
    color: #018786;
    font-weight: bold;
}

.dark .trap {
    color: #cf6679;
    font-weight: bold;
}

.light .trap {
    color: #b00020;
    font-weight: bold;
}

.dark .location {
    color: #66BB6A;
}

.light .location {
    color: #388E3C;
}

.dark .player {
    color: #BCAAA4;
    font-weight: bold;
}

.light .player {
    color: #795548;
    font-weight: bold;
}

/* ValidJSONColorType */
.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.black {
    color: black;
}

.dark .black {
    background-color: #969696;
}

.dark .red {
    color: #EF5350;
}

.light .red {
    color: #D32F2F;
}

.dark .green {
    color: #4CAF50;
}

.light .green {
    color: #388E3C;
}

.dark .yellow {
    color: #FFEB3B;
}

.light .yellow {
    color: #FBC02D;
}

.dark .blue {
    color: #2196F3
}

.light .blue {
    color: #1565C0;
}

.dark .magenta {
    color: #F06292;
}

.light .magenta {
    color: #EC407A;
}

.dark .cyan {
    color: #4DD0E1;
}

.light .cyan {
    color: #00ACC1
}

.white {
    color: white;
}

.light .white {
    background-color: rgba(0, 0, 0, 0.5);
}

.black_bg {
    background-color: black;
}

.light .black_bg {
    color: #ccc;
}

.dark .red_bg {
    background-color: #D32F2F;
}

.light .red_bg {
    background-color: #EF5350;
}

.dark .green_bg {
    background-color: #388E3C;
}

.light .green_bg {
    background-color: #4CAF50;
}

.dark .yellow_bg {
    background-color: #F9A825;
}

.light .yellow_bg {
    background-color: #FFEB3B;
}

.dark .blue_bg {
    background-color: #1565C0;
}

.light .blue_bg {
    background-color: #2196F3
}

.dark .magenta_bg {
    background-color: #EC407A;
}

.light .magenta_bg {
    background-color: #F06292;
}

.dark .cyan_bg {
    background-color: #00ACC1;
}

.light .cyan_bg {
    background-color: #4DD0E1;
}

.white_bg {
    background-color: white;
}

.dark .white_bg {
    color: #444;
}